*{
	margin:0;
	padding:0;
	box-type:border-box;
}
.container{
	display:flex;
	justify-content:space-between;
}
.c1, .c2, .c3{
	width:100px;
	height:100px;
	font-size:50px;
	
}
.c1{
	background:green;
}
.c2{
	background:red;
}
.c3{
	background:blue;
	align-self:center;
}
/* Your CSS Code here. */